@charset "UTF-8";
@import url("../webfonts/Oleo_Script/stylesheet.css");
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
}


#container {
	height: 768px;
	width: 989px;
	margin-right: auto;
	margin-left: auto;
}

#header {
	height: 125px;
	width: 989px;
	color: #17C0FB;
	background-color: #FFFFFF;
	font-family: "Oleo Script";
	font-size: 20px;
	padding-top: 35px;
	padding-left: 35px;
}

h3 {
	font-family: "Oleo Script";
	font-size: 4em;
	text-align: center;
}

h4 {

	font-family: "Dosis";
	font-size: 1em;
	
	text-align: center;
	paddint-bottom: 15px;

}


#titleBar {
	height: 35px;
	width: 1024px;
	font-size: 1.75em;
	text-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: "Dosis";
	font-weight: bolder;
}

#main {
	height: 1344px;
	width: 1024px;
}

#topnav {
	height: 60px;
	width: 1024px;
	font-weight: bold;
	text-transform: uppercase;
	color: #17C0FB;
	text-decoration: none;
	margin-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}

#contentOne {
	height: 448px;
	width: 1024px;
	background-color: #070781;
	float: left;
}

#contentTwo {
	height: 448px;
	width: 1024px;
	background-color: #17B9F7;
	float: left;
}

#contentThree {
	height: 448px;
	width: 1024px;
	background-color: #FF9C14;
	float: left;
}

#bottomNav {
	height: 100px;
	width: 1024px;
}

#footer {
	height: 50px;
	width: 1024px;
}

#h1 {
	padding-top: 35px;
	padding-left: 35px; 
}
